{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}SmartHome{% endblock %}

{% block page_content %}

<div class="post-tabs">
    <ul class="nav nav-tabs"> 
        
        <li class="active"><a href="{{ url_for('gameSetup.TurnOn')}}">Turn On</a></li>         
        <li class="active"><a href="{{ url_for('gameSetup.TurnOff')}}">Turn Off</a></li>  
        <li class="active"><a href="{{ url_for('gameSetup.GetTemp')}}">Get Temperature</a></li> 
        <li class="active"><a href="{{ url_for('gameSetup.Thermostat')}}">Thermostat</a></li>
        <li class="active"><a href="{{ url_for('gameSetup.ThermostatOff')}}">Thermostat Off</a></li>
    </ul>
    {% include '_posts.html' %}
</div>

{% endblock %} 

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
